#filter-settings-section {
    display: none;

}

.qr-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

#qr-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-right: 3rem;
    padding: 3rem;
    /* border-radius: 10px; */
    margin-bottom: 1rem;
    border: var(--black) solid 1px;
    border-radius: 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC);
}

#main-settings-btn {
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}

#filter-settings-btn {
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

.qr-location input {
    border-radius: 5px;
}

.reset-settings-btn {
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: all .15s ease-in-out;
    border: var(--black) solid 1px;
    margin-top: .5rem;
}

.reset-settings-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

.reset-settings-btn i {
    transition: filter .15s ease-in-out;
}

.reset-settings-btn:hover i {
    filter: invert(100);
}

.reset-settings-btn i {
    margin-left: .4rem;
}

.qr-settings h2,
.img-section-title h2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-1);
}

.qr-settings h2 {
    margin: 0 .5rem 0 0;

}


#download-qr,
#reset-all-qr {
    background-color: var(--white);
    cursor: pointer;
    font-size: 20px;
    transition: .15s ease-in-out filter;
    border: var(--black) solid 1px;
    padding: 1rem;
    border-radius: 50%;
    margin-left: .5rem;
}

#reset-all-qr {
    position: relative;
    top: .2rem;
    left: .2rem;
}



#download-qr {
    font-size: 20px;
    padding: .8rem;
    margin: 0 0 .5rem .5rem;
}

#download-qr:hover,
#reset-all-qr:hover {
    filter: invert(100%);
}





#settings-items {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: .5rem 0;
}

/* #settings-items i {
    margin-left: .5rem;
    border: var(--black) solid 1px;
    padding: .4rem;
    border-radius: 100%;
} */

.settings-btn {
    padding: 0 .5rem;
    border: var(--black) solid 1px;
    transition: .15s ease-in-out all;
}

.border-toggle {
    display: flex;
    align-items: center;
}

.settings-btn:hover {
    background-color: var(--black);
    color: var(--white);
}

#size-input-text {
    margin: .5rem 0;
}



.settings-btn.active {
    background-color: var(--black);
    color: var(--white);
}

#main-settings {
    border-radius: 3px 0 0 3px;

}

#filter-settings {
    border-radius: 0 3px 3px 0;
}

#url-error-icon {
    color: red;
}

.error-shadow {
    box-shadow: 0 0 5px red;

}

#url-error-icon {
    display: none;
}


#qr-image {
    width: 300px;
    height: 300px;
    background-color: #14213d;
    border-radius: 10px;
    /* border: #14213d solid 1px; */
    border-width: 10px;
    border-color: #14213d;
    border-style: solid;
    z-index: 100;
    /* filter: brightness(1.9); */
}

.qr-bg-color {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.range-input-text {
    display: flex;
    justify-content: space-between;
}


label {
    margin-bottom: 0px !important;
}

.border-item:nth-of-type(1) {
    margin-bottom: .2rem;
}

#main-settings-section span {
    font-weight: bold;
}



.dropdown-backdrop {
    display: none;
}

canvas {
    width: 100%;


}



.link-border,
.link-background {
    cursor: pointer;
    transition: opacity .15s ease-in-out;
}

.link-border:hover,
.link-background:hover {
    opacity: .5;
}

select {
    border-radius: 2px;
    padding: 0;
}

select option[selected] {
    font-weight: bold;
}


.jumbotron {
    background: #6b7381;
    color: #bdc1c8;
    border-radius: 0;
    padding: 2rem;
}

.jumbotron h1 {
    color: #fff;
}

.switch>.row {
    padding-bottom: 2rem;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid rgba(189, 193, 200, 0.5);
}

.switch h3 {
    font-weight: 400;
}

.switch h3>small {
    font-weight: 200;
    font-size: 0.75em;
    color: #939aa5;
}

.switch h6 {
    font-weight: 700;
    font-size: 0.65rem;
    letter-spacing: 3.32px;
    text-transform: uppercase;
    color: #bdc1c8;
    margin: 0;
    line-height: 5rem;
}

.switch .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
}

.btn-toggle {
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
}

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
    outline: none;
}

.btn-toggle:before,
.btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}

.btn-toggle:before {
    content: 'Off';
    left: -4rem;
}

.btn-toggle:after {
    content: 'On';
    right: -4rem;
    opacity: 0.5;
}

.btn-toggle>.handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
}

.btn-toggle.active {
    transition: background-color 0.25s;
}

.btn-toggle.active>.handle {
    left: 1.6875rem;
    transition: left 0.25s;
}

.btn-toggle.active:before {
    opacity: 0.5;
}

.btn-toggle.active:after {
    opacity: 1;
}

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.4125rem;
    width: 2.325rem;
}

.btn-toggle.btn-sm:before {
    text-align: right;
}

.btn-toggle.btn-sm:after {
    text-align: left;
    opacity: 0;
}

.btn-toggle.btn-sm.active:before {
    opacity: 0;
}

.btn-toggle.btn-sm.active:after {
    opacity: 1;
}

.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
    display: none;
}

.btn-toggle:before,
.btn-toggle:after {
    color: #6b7381;
}

.btn-toggle.active {
    background-color: var(--primary-2);
}

.btn-toggle.btn-lg {
    margin: 0 5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 2.5rem;
    width: 5rem;
    border-radius: 2.5rem;
}

.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
    outline: none;
}

.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
    line-height: 2.5rem;
    width: 5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}

.btn-toggle.btn-lg:before {
    content: 'Off';
    left: -5rem;
}

.btn-toggle.btn-lg:after {
    content: 'On';
    right: -5rem;
    opacity: 0.5;
}

.btn-toggle.btn-lg>.handle {
    position: absolute;
    top: 0.3125rem;
    left: 0.3125rem;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 1.875rem;
    background: #fff;
    transition: left 0.25s;
}

.btn-toggle.btn-lg.active {
    transition: background-color 0.25s;
}

.btn-toggle.btn-lg.active>.handle {
    left: 2.8125rem;
    transition: left 0.25s;
}

.btn-toggle.btn-lg.active:before {
    opacity: 0.5;
}

.btn-toggle.btn-lg.active:after {
    opacity: 1;
}

.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
    line-height: 0.5rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.6875rem;
    width: 3.875rem;
}

.btn-toggle.btn-lg.btn-sm:before {
    text-align: right;
}

.btn-toggle.btn-lg.btn-sm:after {
    text-align: left;
    opacity: 0;
}

.btn-toggle.btn-lg.btn-sm.active:before {
    opacity: 0;
}

.btn-toggle.btn-lg.btn-sm.active:after {
    opacity: 1;
}

.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
    display: none;
}

.btn-toggle.btn-sm {
    margin: 0 0.5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
}

.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
    outline: none;
}

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
    line-height: 1.5rem;
    width: 0.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.55rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}

.btn-toggle.btn-sm:before {
    content: 'Off';
    left: -0.5rem;
}

.btn-toggle.btn-sm:after {
    content: 'On';
    right: -0.5rem;
    opacity: 0.5;
}

.btn-toggle.btn-sm>.handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
}

.btn-toggle.btn-sm.active {
    transition: background-color 0.25s;
}

.btn-toggle.btn-sm.active>.handle {
    left: 1.6875rem;
    transition: left 0.25s;
}

.btn-toggle.btn-sm.active:before {
    opacity: 0.5;
}

.btn-toggle.btn-sm.active:after {
    opacity: 1;
}

.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.4125rem;
    width: 2.325rem;
}

.btn-toggle.btn-sm.btn-sm:before {
    text-align: right;
}

.btn-toggle.btn-sm.btn-sm:after {
    text-align: left;
    opacity: 0;
}

.btn-toggle.btn-sm.btn-sm.active:before {
    opacity: 0;
}

.btn-toggle.btn-sm.btn-sm.active:after {
    opacity: 1;
}

.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
    display: none;
}

.btn-toggle.btn-xs {
    margin: 0 0;
    padding: 0;
    position: relative;
    border: none;
    height: 1rem;
    width: 2rem;
    border-radius: 1rem;
}

.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
    outline: none;
}

.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
    line-height: 1rem;
    width: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
}

.btn-toggle.btn-xs:before {
    content: 'Off';
    left: 0;
}

.btn-toggle.btn-xs:after {
    content: 'On';
    right: 0;
    opacity: 0.5;
}

.btn-toggle.btn-xs>.handle {
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.75rem;
    background: #fff;
    transition: left 0.25s;
}

.btn-toggle.btn-xs.active {
    transition: background-color 0.25s;
}

.btn-toggle.btn-xs.active>.handle {
    left: 1.125rem;
    transition: left 0.25s;
}

.btn-toggle.btn-xs.active:before {
    opacity: 0.5;
}

.btn-toggle.btn-xs.active:after {
    opacity: 1;
}

.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
    line-height: -1rem;
    color: #fff;
    letter-spacing: 0.75px;
    left: 0.275rem;
    width: 1.55rem;
}

.btn-toggle.btn-xs.btn-sm:before {
    text-align: right;
}

.btn-toggle.btn-xs.btn-sm:after {
    text-align: left;
    opacity: 0;
}

.btn-toggle.btn-xs.btn-sm.active:before {
    opacity: 0;
}

.btn-toggle.btn-xs.btn-sm.active:after {
    opacity: 1;
}

.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
    display: none;
}

.btn-toggle.btn-secondary {
    color: #6b7381;
    background: #bdc1c8;
}

.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
    color: #6b7381;
}

.btn-toggle.btn-secondary.active {
    background-color: #ff8300;
}

.size-indicator {
    border: var(--black) solid 1px;
    border-radius: 5px;
    padding: .1rem .4rem;
    margin-left: .4rem;
}

.reset-main-item,
.reset-filter-item {
    transition: .2s ease-in-out all;
    cursor: pointer;
}

.reset-main-item:hover,
.reset-filter-item:hover {
    opacity: .5;
}

.section-reset {
    position: relative;
    right: .8rem;
    top: .5rem;
    cursor: pointer;
    background-color: var(--white);
    border: solid var(--white) 1px;
    padding: .3rem .8rem;
    border-radius: 5px;
    transition: all .15s ease-in-out;
}

.section-reset span {
    color: var(--primary-1);
}

.section-reset:hover {
    background-color: var(--black);
    border: solid var(--black) 1px;
}

.section-reset:hover i {
    filter: invert(100);
}

.section-reset:hover span {
    color: var(--white);
}

#reset-all-filters span {
    font-weight: bold;
}